#calendar{
    background-color: aqua;
    float: center;
    margin-top: 9%;
    margin-bottom: 9%;
    border: solid;
    padding: 2%;
    width: 20%;
    margin-left: 40%;
    justify-content: center;
    font-size: xx-large;
    



    
}
#left{
    height: 30%;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: xx-large;
    column-gap: 36cap;
    background-color: yellow;
    font-size: xx-large;
}
#right{
    height: 30%;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: xx-large;
    column-gap: 36cap;

}#date{
    color: blue;

}